/*something is wrong with this stylesheet*/
.navbar-custom {
    margin:0px;
    z-index: 1000;
    border-bottom: 1px solid #353637;
    width: 100%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav li a:hover{
  color: purple;
  background-color: rgba(0,0,0,0);
}

  .navbar-center{
    float: none;
    display: table;
    table-layout: fixed;
    margin: 0 auto;
  }
  .nav li a{
      display: block;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 16;
      font-weight: normal;
      text-align: center;
    }
