body
{
	font-size: 15px;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	color: #00030;
	margin: 0px ;
	width: 80%;
	background-color: Whitesmoke;
}
article{
	background-color: white;
	text-align: left;
	margin: 0 auto;
	width: 100%;
	padding: 50px;



}

 img
{
	width: 200%
	height: none;
	margin: 2% 0;
}

h1{
	font-family: Arial;
	color: orange;
}

footer{

     margin-top: 80px;
    padding: 14px 16px;
    background: #333;
    bottom: 0;
    margin-right: -33px;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;
}
